@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: JetBrainsMono-Bold;
    src: url(JetBrainsMono-Bold.ttf);
}

#cover{
    float: left;
    margin-right: 20px;
}
h1{
    
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
h3{
    font-style: italic;
    font-size: medium;
    font-size: 12px;
}

#title{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#fter{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: lightseagreen;
}
.box1{
    border: 2px solid;
    width: 250px;
    height: auto;
    align-items: center;
    padding: 2vb;
    margin: 10px;
    border-radius: 10px;
    
}

h2{
    font-family: "Open Sans";
    font-size: 18px;
    align-items: center;
}
#about{
    font-size: 13px;
    font-family: "Open Sans";
    font-style: italic;

}

#eminem{
    width:85px;
    height: 100px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

#a-link{
    text-decoration: none;
}

.pagination{
    text-align: center;
    margin: 50px;
    display: block;

}
.pagination a{
    text-decoration: none;
    padding: 8px 15px;
    font-family: "Roboto";
    
}

#active{
    color: black;
    background-color: hsla(240, 82%, 63%, 0.949);
    border-radius: 8px;
    
    
}

p{
    font-family: "Roboto";
}
