@font-face {
    font-family: JetBrainsMono-Bold;
    src: url(JetBrainsMono-Bold.ttf);
}

#cover{
    float: left;
    margin-right: 20px;
}
h1{
    
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
h3{
    font-style: italic;
    font-size: medium;
    font-size: 12px;
}